<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width='device-width', initial-scale=1.0">
	<link rel="stylesheet" href="../css/CompetitiveProgramming.css">
	<title>Competitive Programming</title>
</head>
<body>
	<main class="main-content-main">
		<div class="div-content-submain">
			<div class="div-content-header">
				<h1>Resolviendo Problemas</h1>
				<p>Resolviendo problemas en codewars.com
					He descubierto una nueva pasion por los problemas tecnicos donde se coloca a prueba el codigo y tu logica matematica o simplemente logica.
					</p>
					<p>Lenguajes : Javascripts</p>
					<p>Plataforma : Codewars</p>
					<p>Logica Matematica</p>
			</div>

			<div class="div-content-problems">
				<h2 class="title-problems">makeNegative</h2>
				<p>Problema: Convertir cualquier numero que se le pase a la funcion makeNegative en negativo.</p>
				<p>Lo que hice fue hacer test e implementar  logica matematica al problema, por ejemplo como se para cada numero que sea mayor de cero debera de restarse el doble de veces para asi obtener su contra parte negativa, me parecio una forma ingeniosa de hacerlo, asi que al momento de implementarlo resulto funcionar, y funciona !! ...</p>
				<p></p>
				<pre class="pre-code" >
					<code language="language-js" class="code-box">
						<kbd>
			function makeNegative(num) {
			  if(num <= 0 ){
					return(num);
				  }else{
					newNumber =  num - num*2;
				return(newNumber);
				  };
			  };
						</kbd>
					</code>
				</pre>
			</div>
			<div class="div-content-problems">
				<h2 class="title-problems">Regex</h2>
				<p>Problema : Filtrar solo ciertas palabras </p>
				<p>Al principio no sabia como hacer dicha accion para ciertas palabras, pense en un case o If/Else hell, pero no es optimo y es incluso hasta loco, asi que investigando encontre las expresiones regulares, o mejor llamadas REGEX, en el ambito de avascript resulta mas facil de usarlas que ne otros lenguaje.</p>
				<pre class="pre-code" >
					<code language="language-js" class="code-box">
						<kbd>
						
REGEX BASICS	DESCRIPTION
^	The start of a string
$	The end of a string
.	Wildcard which matches any character, except newline (\n).
|	Matches a specific character or group of characters on either side (e.g. a|b corresponds to a or b)
\	Used to escape a special character
a	The character "a"
ab	The string "ab"

QUANTIFIERS	DESCRIPTION
*	Used to match 0 or more of the previous (e.g. xy*z could correspond to "xz", "xyz", "xyyz", etc.)
?	Matches 0 or 1 of the previous
+	Matches 1 or more of the previous
{5}	Matches exactly 5
{5, 10}	Matches everything between 5-10

CHARACTER CLASSES	DESCRIPTION
\s	Matches a whitespace character
\S	Matches a non-whitespace character
\w	Matches a word character
\W	Matches a non-word character
\d	Matches one digit
\D	Matches one non-digit
[\b]	A backspace character
\c	A control character
SPECIAL CHARACTERS	DESCRIPTION
\n	Matches a newline
\t	Matches a tab
\r	Matches a carriage return
\ZZZ	Matches octal character ZZZ
\xZZ	Matches hex character ZZ
\0	A null character
\v	A vertical tab
GROUPS	DESCRIPTION
(xyz)	Grouping of characters
(?:xyz)	Non-capturing group of characters
[xyz]	Matches a range of characters (e.g. x or y or z)
[^xyz]	Matches a character other than x or y or z
[a-q]	Matches a character from within a specified range
[0-7]	Matches a digit from within a specified range	
						</kbd>
					</code>
				</pre>
			</div>
		</div>
	</main>	
</body>
</html>