#section-projects{
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

#section-projects .projects-title{
	width: 100%;
	padding-right: 500px;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
}
#section-projects .projects{
	width: 100%;
	height:fit-content;
	display:grid;
	margin: 80px auto;
	
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 5px;
}

#section-projects .projects div{
	text-align: left;

	width: 100%;
	height: auto;
	overflow: auto;
	padding: 9px;
}
#section-projects .projects img{
	width: 330px;
	height: auto;
	border-radius: 10px;
}
#section-projects .projects a{
	margin-top: 10px;
	color: var(--text-color);
	text-decoration: none;
}
#section-projects .projects a:hover{
	color: var(--text-color-green);
}

hr{
	width: 56%;
	text-align: center;
	border-radius: 2px;
	margin-top: 30px ;
	background-color:var(--text-color-green) ;
}